
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Hello, {{name}}
    <h2>Калькулятор суммы</h2>
   <form action="#" method="POST" >
       {% csrf_token %}
       <div class="form-group">
                  <label for="num1">Первое число</label>
                  <input type="number" class="form-control" name="num1">
       </div>
       <div class="form-group">
                  <label for="num2">Второе число</label>
                  <input type="number" class="form-control" name="num2" >
       </div>
       <button type="submit" name="add" class="btn btn-primary col-5">Рассчитать</button>
   </form>
    <h4>Результат суммы: {{result}}</h4>
</body>
</html>